<%= form_for @provider do |f| %>


<% if @provider.errors.any? %>
  <ul>
    <% @provider.errors.full_messages.each do |message| %>
    <li> <%= message %> </li>
    <%end%>
  </ul>
<% end %>


<div class="row">
  <div class="col-4 provider_input">
     <%= f.label :name, class: "prov_label" %>
  <%= f.text_field :name %>
  </div>
</div>

<div class="row">
  <div class="col-4 provider_input">
    <%= f.label :email, class: "prov_label" %>
  <%= f.email_field :email %>
  </div>
</div>
<div class="row">
  <div class="col-4 provider_input">
  <%= f.label :address, class: "prov_label" %>
  <%= f.text_area :address %>
  </div>
</div>
<div class="row">
  <div class="col-4 provider_input">
   <%= f.label :postcode, class: "prov_label" %>
  <%= f.text_field :postcode %>
  </div>
</div>

<div class="row">
  <div class="col-4 provider_input">
   <%= f.label :about_me, class: "prov_label" %>
  <%= f.text_area :about_me %>
  </div>
</div>

<div class="row">
  <div class="col-4 provider_input">
  <%= f.label :terms_and_conditions %>
  <%= f.check_box :terms_and_conditions %>
  </div>
</div>

<div class="row">
  <div class="col-4 provider_input">
  <%= f.submit %>
  </div>
</div>


<%end%>
