
<% if flash[:notice] %>
<div class="row">
  <div class="col-8">
    <h1> <%= flash[:notice] %>
  </div>
</div>
<%end%>
<div class="row">
  <div class="col-8">
    <h1> <%= @provider.name %> </h1>
    <p class="prov_email">  <%= @provider.email%> <p>
  </div>
</div>
<div class="row">
  <div class="col-4 prov_info"><span class="prov_info_caption"> Address:</span>
    <textarea class="prov_info_value"><%= @provider.address %></textarea>
  </div>
</div>

<div class="row">
  <div class="col-4 prov_info"><span class="prov_info_caption"> Post Code:</span>
    <span class="prov_info_value"><%= @provider.postcode %></span>
  </div>
</div>

<div class="row">
  <div class="col-4 prov_info"><span class="prov_info_caption"> About me:</span>
    <textarea class="prov_info_value"><%= @provider.about_me %></textarea>
  </div>
</div>

